@media (min-width: 300px) and (max-width: 640px) {
    .ml1 {
        margin-top: 45%;
    }

    .kontener2 {
        padding: 5px;
        text-align: center;
        margin-top: 20%;
    }
}